body {
    margin: 0;
    background-color: lightgray;
}

.mainWrapper {
    margin-top: 3rem;
}

.navbar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
}

.navLink {
    float: left;
    font-size: larger;
    padding: 1rem;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.homeLink {
    background-color: #1db954;
}

.navLink:hover {
    background-color: #111;
}

.searchBarMain {
    padding: 0.5rem;
}

button {
    margin: 0 0.5rem 0 0.5rem;
    border: 1px solid;
    border-radius: 0.30rem;
}

input {
    border: 1px solid;
    border-radius: 0.30rem;
}

.symbolCardWrapper{
    border: 1px solid;
    padding: 0 0 1rem 0;
}

.symbolCardWrapper h1{
    margin: 0.5rem 0 0 0;
}

.symbolCardGridContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.symbolCardGridItem {
    font-weight: bold;
    padding:0 0.5rem 0 0.5rem; 
}
.symbolCardGridItem a{
    text-decoration: none;
}

@media only screen and (orientation: portrait) {
    .navbar {
        height: 5.5rem;
    }

    .navLink {
        padding: 0.5rem;
        float: none;
    }

    .mainWrapper {
        margin-top: 5.5rem;
    }
}